@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Acme', sans-serif; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.accordion-button::after {
  filter: invert(1); }
